@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', serif;
    box-sizing: border-box;
    margin: 0;
}


nav {
    height: 75px;
    overflow: hidden;
    background-color: #efefef;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: inline-block;
    margin-left: 35px;
    margin-top: 7px;
    font-size: 24px;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: orange;
}

a:hover {
    color: lightblue;
    border-bottom: 3px solid lightblue;
}

#photo {
    width: 600px;
    margin: 10px;
}

.banner {
    background-color: #efefef;
    display: inline-block;
    margin-left: 50px;
    margin-top: 35px;

}

.text {
    display: inline-block;
    width: 500px;
    padding: 20px;
    background-color: #efefef;
    margin: 35px;
    height: 400px;
    vertical-align: top;
}

.right {
    margin-left: 620px;

}

.button {
    background-color: forestgreen;
    display: inline-block;
    padding: 15px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 6px #ccc;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 8px;
}


#zero {
    margin: 0px;
}

